

.editButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notesButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: blue;
  input {
    visibility: hidden;
  }
}
.selected-cat {
  color: red;
}