@import './variables.scss';

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  .icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
  }
}