@import './variables.scss';

.anchor-icon {
  margin-left: 5px;
  margin-right: 5px;
}
.anchor-link {
  text-decoration: none;
  font-weight: 600;
  color: $link-color;
}

.hover-text {
  margin-left: 5px;
  margin-right: 5px;
  display: none;
}


.title-wrapper {
  margin-bottom: 20px;
}

.style-button {
  background-color: $dark-green;
  color: white;
}

// Button Stylings
.modify {
  background-color: $button-background-color;
  width: 150px;
  color: $edit-color;
  font-size: 20px;
  font-weight: 800px;
}
.modify:hover {
  .hover-text {
    display: inline;
  }
}


.save {
  color: $save-color;
  background-color: $button-background-color;
  font-weight: 800;
  font-size: 20px;
  width: 150px;
}
.save:hover {
  .hover-text {
    display: inline;
  }
}

.delete {
  color: $delete-color;
  background-color: $button-background-color;
  font-weight: 800;
  font-size: 20px;
  width: 150px;
}
.delete:hover {
  .hover-text {
    display: inline;
  }
}