form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40vw;
}

Editor {
  width: 400px;
  height: 500px;
}

.note-wrapper {
  border: 1px solid green;
  max-width: 200px;
}

.save {
  color: #00ff9f;
  background-color: black;
  font-weight: 800;
}

.delete {
  color: #ff124f;
  background-color: black;
  font-weight: 800;
}