@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:wght@500&display=swap');

$delete-color: #ff124f;
$save-color: #00ff9f;
$edit-color: #ff6700;
$button-background-color: #43464B;
$link-color: #f0ffff;
$dark-green: #338333;
$new-note-color: #c465ff;

$title-font: 'Playfair Display', serif;
$text-font: 'Lora', serif;